<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <ul>
            <% messages.forEach((message, index) => { %>
                <%- include('message', {message: message}); %>
                <a href="<%= `/messagePage/${index}`%>">Open</a>
            <% }); %>
        </ul>
        <footer>
            <a href="/new">Post</a>
        </footer>
    </body>
</html>