<html>
  <head>
    <title>Message</title>
  </head>
  <body>
    <h1><%= message.name %></h1>
    <ul>
      <li>
        <strong><%= message.name %></strong>
        <%= message.message %>
        <!-- <em>(<%= message.added %>)</em> -->
      </li>
    </ul>
    <footer>
      <!-- <a href="/new">Post</a> -->
      <a href="/">Home</a>
    </footer>
  </body>
</html>
